.seat {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: var(--background-blue);
}

.seat.free {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: var(--background-blue);
}

.seat.taken {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: var(--light-gray) !important;
}

.seat a {
    display: inline-block;
    height: 50px;
    width: 50px;
}
